.splash-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #151515;
}

.icon-wrapper svg {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.pulsate{
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}

button {
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #f3f1f1;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #aed122;
    background-color: rgb(224, 211, 25);
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }