.form-container {
    background: #fff;
    max-width: 598px;
    margin: 32px auto;
    border: 1px solid #e0e1e0;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
      0 2px 6px 2px rgba(60, 64, 67, 0.149);
    border-radius: 8px;
  }
  .form-container form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: #5f6368;
  }
  
  .note-text {
    color: black;
    border: none;
    font-size: 1rem;
    height: 100%;
    padding: 10px;
    margin-left: 10px;
    width: 90%;
    margin-right: 10px;
    padding-left: 10px;
    background-color: white;
  }
  
  .note-title {
    color: black;
    border: none;
    font-size: 1rem;
    height: 100%;
    padding: 10px;
    margin-left: 10px;
    width: 90%;
    margin-right: 10px;
    padding-left: 10px;
    background-color: white;
  }
  
  .form-actions {
    display: flex;
  }
  

  
  .form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30rem;
  
  }
  
  .form .form-actions .icons {
    display: flex;
  }
  
  .form .form-actions {
    display: flex;
    justify-content: space-between;
    width: 93%;
    margin-top: 5px;
  }
  
  .close-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color:#5f6368;
    
  }

  .close-btn:hover {
    background-color: #fcf0c8;
    border-radius: 25px;
    opacity: 0.8;
    color: black;
    
  }
  
  .small-icon {
    color: rgb(102, 96, 96);
    font-size: 1.1rem;
  }

  